{
	"favorites": [
		"{data:{Count:1b,id:\"minecraft:flowering_azalea_leaves\",type:\"minecraft:item\"},type:\"roughlyenoughitems:entry_stack\"}",
		"{data:{Count:1b,id:\"minecraft:sponge\",type:\"minecraft:item\"},type:\"roughlyenoughitems:entry_stack\"}",
		"{data:{Count:1b,id:\"minecraft:birch_wood\",type:\"minecraft:item\"},type:\"roughlyenoughitems:entry_stack\"}",
		"{data:{Count:1b,id:\"minecraft:spruce_wood\",type:\"minecraft:item\"},type:\"roughlyenoughitems:entry_stack\"}"
	],
	"hiddenFavorites": [],
	"displays": []
}